.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.about-dark-theme-bg {
  background-color: #000000;
}

.about-light-theme-bg {
  background-color: #ffffff;
}

.about-image {
  width: 120px;
  height: 110px;
}

.about-title {
  font-family: 'roboto';
  font-size: 32px;
  color: #171f46;
  font-weight: bold;
}

.about-dark-theme-title {
  color: #ffffff;
}

.about-light-theme-title {
  color: #171f46;
}
